<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>수리 소요 목록</h2>
<button th:onclick="|location.href='@{/addForm}'|">수리 소요 추가</button>
<table class="table">
            <thead>
            <tr>
                <th th:text="번호">ID</th>
                <th th:text="장소">상품명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="item.html" th:href="@{/middleTestBoard/{boardId}(boardId=${board.getBoard_number})}" th:text="${board.getBoard_number}">등록번호</a></td>
                <td> <a href="item.html" th:href="@{/middleTestBoard/{boardId}(boardId=${board.getBoard_number})}" th:text="${board.title}">제목</a></td>
            </tr>
            </tbody>
        </table>
</body>
</html>