<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>수리 장소 상세</h1>
장소 : <span th:text="${board.title}">title</span><br>
내역 : <span th:text="${board.content}">content</span><br>
<th:block th:if="${board.server_save_file_name != null}">
사진 : <img th:src="@{../../static/item/{fileName}(fileName=${board.server_save_file_name})}" width="300" height="300"/>
</th:block>
<a href="../index.html" th:href="@{/middleTestBoard/update/{boardId}(boardId=${board.getBoard_number})}">수정</a>
<a href="../index.html" th:href="@{/middleTestBoard/remove/{boardId}(boardId=${board.getBoard_number})}">삭제</a>
</body>
</html>